@font-face {

	font-family: magnison;
	src: url(../tipografia/fuentetitulo3.ttf);

}

@font-face {

	font-family: menutipo;
	src: url(../tipografia/menutipo.ttf);

}

h1{

	margin: 0;
	padding: 40px;
	border: 4px solid #FA9B3B;
	border-radius: 20px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	font-family: magnison;
	font-size: 70px;
	text-align: center;

	color: #F3C152;
	background: #FBF4C5;

}

body{

	background: #E1D6A7;

}

.menu {

	display: inline;
	float: left;
	list-style-type: none;
	padding: 0;
	position: relative;
	left: 50%;
	
}

.menu > a {
 
 	font-family: menutipo;
 	font-size: 14px;
 	display: inline;
 	
 	background-color: #FA9B3B;
 	color: #FBF4C5;
 	
 	text-decoration: none;
 	list-style: none;
 	
	padding: 15px 20px;
 	float: left;
 	position: relative;
 	right: 50%;

 }

.menu a:hover{

	color: #FA9B3B;
	background: #FBF4C5;

}

hr{

	height: 1px;
	border: 2;
	background-color: orange;

}

#tab_num_images{

	border: orange 5px solid;

}

#num_images{

	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

}

img{

	width: 100px;
	height: 100px;

}

.btn_table{

	text-align: center;

}

.punt{

	text-align: right;
	background-color: ;

}

ul {

	font-family: menutipo;

}

button {

	width: 100px;
	height: 100px;
	font-family: menutipo;

}

.btn_4, .btn_5, .btn_6 {

	padding: 15px;
	color: #FFFB85;
	background-color: #E06553;
	border-radius: 20px;
	border-color: yellow;
	font-style: bold; 
	font-size: 15px;
	text-align: center;

}

.btn_1, .btn_2, .btn_3 {

	padding: 7px;
	border-radius: 20px;
	border-color: yellow;
	font-style: bold; 
	font-size: 15px;
	text-align: center;

}

.btn_1 {

	color: #47833E;
	background-color: #FDFB70;

}

.btn_2 {

	color: #305B55;
	background-color: #8FFFFC;

}

.btn_3 {

	color: #23234A;
	background-color: #7876FF;

}

#m1, #a1 {

	padding: 20px;
	font-style: bold;
	font-family: menutipo; 
	font-size: 21px;
	color: #23234A;
	background-color: #F994FF;
	border-style: groove;
	border-color: yellow;
	border-radius: 20px 0px 20px 0px;

}

#marc, #act {

	border: 3px double #F994FF;
	font-family: menutipo;
	color: green;
	border-radius: 0px 20px 0px 20px;

}

#name > a {

	color: black;
	font-style: bold;
	text-decoration: none;
}

#name > a:hover{

	color: green;

}